
        @foreach (var category in Model.Categories)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @category.CategoryName
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var subcategory in Model.Subcategories)
                    {
                        @if (subcategory.CategoryId == category.Id)
                        {
                            <a asp-controller="Product" asp-action="ListProducts" asp-route-subcategory="@subcategory.SubcategoryName" class="dropdown-item">
                                @subcategory.SubcategoryName
                            </a>
                        }
                    }
                </div>
            </li>
        }
