@model MerchShop.ViewModels.ChangePasswordViewModel

 
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                        <a asp-controller="Account" asp-action="Login" class="signup-image-link">Go back</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Change Password</h2>
                        <form asp-action="ChangePassword" asp-controller="Account" asp-anti-forgery="true" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="Password" placeholder="Password" />
                                <span class="myError" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="PasswordConfirm" placeholder="Confirm Password" />
                                <span class="myError" asp-validation-for="PasswordConfirm"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Change" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>