@model MerchShop.ViewModels.ForgotPasswordViewModel



@*<form asp-action="ForgotPassword" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-outline-dark" />
        </div>
    </div>
</form>*@


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Forgot Password</h2>
                        <form asp-action="ForgotPassword" asp-controller="Account" class="register-form" id="register-form" asp-anti-forgery="true">
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" asp-for="Email" placeholder="Enter your Email" />
                                <span class="myError" asp-validation-for="Email" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Send" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-controller="Account" asp-action="Login" class="signup-image-link">Go back</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>